@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

.btn{
  width:81px;
  height:36px;
  border-radius:5px;
  color:#3F3F3F;
  background-color:#E0E0E0;
  box-shadow:1px 1px 5px 0px rgba(51, 51, 51, 0.20),1px 1px 5px 0px rgba(51, 51, 51, 0.20);
  border:none;
  font-family: "Noto Sans JP","sans-serif";
  font-size:14px;
  font-weight: 500;
  margin:10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

}
.contents{
  display:inline-flex;
  text-align:center;
}
.btn.sm{
  width:73px;
  height:32px;
}
.btn.lg{
  width:93px;
  height:42px;
}
.btn:hover,.btn:focus,.btn.hvr{
  background-color:#AEAEAE;
  
  
}
.no-shadow{
  box-shadow:none;

}
.outline{
  border:1px solid #3F3F3F;
  color:#3F3F3F;
  background-color:#FFFFFF;
}
.outline:hover,.outline:focus,.outline.hvr,.text.hvr,.text:hover,.text:focus{
  background-color:#E0E0E0
}
.outline.primary{
  border:1px solid #3D5AFE;
  color:#3D5AFE;
  background-color:white;
  
}
.disabled{
  cursor:not-allowed;
  color: #9E9E9E;
} 
.disabled:hover,.disabled:focus{
  background-color:#E0E0E0;
}
.text.disabled{
  color: #9E9E9E; 
  background-color:#FFFFFF;
}
.outline.disabled{
  color: #9E9E9E; 
  background-color:#FFFFFF;
  border:1px solid #9E9E9E;
}
.primary{
  background-color:#3D5AFE;
  color:white
}
.secondary{
  background-color:rgb(69, 90, 100);
  color:white
}
.danger{
  background-color:#D32F2F;
  color:white
}
.primary.hvr,.primary:hover,.primary:focus{
  background-color:#0039CB;
}
.secondary.hvr,.secondary:hover,.secondary:focus{
  background-color:#1C313A; 
}
.danger.hvr,.danger:hover,.danger:focus{
  background-color:#9A0007;
}
.outline.secondary{
  border:1px solid rgb(69, 90, 100);
  color:rgb(69, 90, 100);
  background-color:white;
  
}
.outline.danger{
  border:1px solid rgb(211, 47, 47);
  color:#D32F2F;
  background-color:white;
  
}
.text{
  background-color:#FFFFFF;
  color:#3F3F3F
}
.primary.text{
  color:#3D5AFE;
  background-color:white;
}
.secondary.text{
  background-color:#FFFFFF;
  color:rgb(69, 90, 100);
}
.danger.text{
  color:#D32F2F;
  background-color:white;
}
.primary.outline:hover,.primary.outline:focus,.primary.outline.hvr,.primary.text.hvr,.primary.text:hover,.primary.text:focus{
  background-color:rgba(41, 98, 255,10%);
}
.secondary.outline:hover,.secondary.outline:focus,.secondary.outline.hvr,.secondary.text.hvr,.secondary.text:hover,.secondary.text:focus{
  background-color:rgba(69, 90, 100,10%);
}
.danger.outline:hover,.danger.outline:focus,.danger.outline.hvr,.danger.text.hvr,.danger.text:hover,.danger.text:focus{
  background-color:rgba(211, 47, 47,10%);
}